# Dependencies
**/node_modules
**/__pycache__
**/.venv
**/dist

# Environment
**/.env
**/.env.local

# Build
**/build
**/*.pyc

# IDE
.vscode/
.idea/
*.swp

# Logs
**/logs
*.log

# MongoDB
**/data/db

# NPM
package-lock.json

coverage
+.DS_Store
+**/.DS_Store 